<div class="container">
  <h1>相談編集</h1>
  <div class="row">
    <div class="col-10 col-offset-1">
      <% if @counsel.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@counsel.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% @counsel.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>
  </div>
      <%= form_for(@counsel, url: {controller: "counsels", action: "update"}) do |f| %>
    <div class="row">
      <div class="col-5 col-offset-2">
        <div class="field">
          <label class="image">画像</label>
          <%= f.attachment_field :image %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-10 col-offset-1">
        <table class='table table-hover table-inverse'>
        <tr>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td>タイトル</td>
          <td><%= f.text_field :title, class: 'form-control' %></td>
        </tr>
        <tr>
          <td>本文</td>
          <td><%= f.text_area :body, class: 'form-control' %></td>
        </tr>
        <tr>
          <td></td>
          <td>
          <label><%= f.radio_button :is_settled, true,  class: :rd %>受付中</label>
          <label><%= f.radio_button :is_settled, false,  class: :rd %>解決済み</label>
          </td>
        </tr>
        </table>
        <div class="actions">
          <%= f.submit "変更を保存", class: "btn btn-primary pull-right" %>
        </div>
      </div>
      <% end %>
  </div>
</div>
