<div class="container">
<div class="row">
<div class="col-xs-10">
<table class='table'>
  <tr><%= attachment_image_tag(@user, :image, format: 'jpeg', size: "100x100", fallback: "no_image.jpg") %></tr>
  <tr>
    <th>name</th>
    <th><%= @user.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= @user.introduction %></th>
    <% if @user == current_user %>
      <p><%= link_to 'Edit', user_emend_path(@user), class: "btn-sm btn-success user_emend_#{@user.id}" %></p>
      <p><%= link_to "いいねした画像", favorites_users_path %>
    <% end %>
  </tr>
</table>
</div>
</div>
</div>
