<div class="container">
<div class="row">
    <h2>カテゴリー</h2>
</div>
<div class="row">
  <div class="col-6 col-offset-1">
    <% if @category.errors.any? %>
      <div id="error_explanation">
          <h2><%= pluralize(@category.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
            <% @category.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
      </div>
    <% end %>
  </div>
</div>
<!-- カテゴリー検索フォーム  -->
<div class="row">
  <div class="col-6 col-offset-1">
    <%= form_for(@category, url: {controller: "admin/categories", action: "create"}) do |f| %>
      <label>ブログカテゴリー</label>
      <%= f.text_field :name %>
      <label><%= f.radio_button :is_valid, true,  class: :rd %>有効</label>
      <label><%= f.radio_button :is_valid, false,  class: :rd %>無効</label>
      <%= f.submit "追加", class: "btn btn-primary btn-md" %>
    <% end %>
  </div>
</div>
<!-- カテゴリー一覧表示  -->
<div class="row">
  <div class="col-5 col-offset-1">
    <table class="table">
      <thead class="thead-lignt">
        <tr>
          <th>カテゴリー</th>
          <th>状態</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <% if category.is_valid? %>
              <td>有効</td>
            <% else %>
              <td>無効</td>
            <% end %>
            <div class="text-center">
              <td><%= link_to '編集する',  edit_admin_category_path(category), class: "btn btn-primary btn-sm" %></td>
            </div>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
