<div class="container">
  <h1>画像投稿</h1>
  <div class="row">
    <div class="col-12">
      <% if @photo.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% @photo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>
  </div>
  <%= form_for(@photo, url: {controller: "photos", action: "update"}) do |f| %>
  <div class="row">
    <div class="col-10">
      <%= attachment_image_tag @photo, :image, format: 'jpeg', size: "200x200" %>
      <table class='table table-hover table-inverse'>
        <tr>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td>ひとこと</td>
          <td><%= f.text_area :body, class: 'form-control' %></td>
        </tr>
      </table>
      <div class="actions">
        <%= f.submit "変更を保存", class: "btn btn-primary pull-right" %>
      </div>
    </div>
      <% end %>
  </div>
</div>
