<div class="container">
  <p class="text-danger"><%= flash[:notice] %></p>
  <h2>画像詳細</h2>
  <div class="row">
    <div class="col-5">
      <%= attachment_image_tag @photo, :image, format: 'jpeg', size: "300x300" %>
    </div>
    <div class="col-7">
      <%= simple_format(@photo.body) %>
      photo_by: 
      <%= link_to @photo.user do %>
        <%= @photo.user.name%>
      <% end %>
      <!-- いいね機能 -->
      <p id="favorite-<%= @photo.id %>">
      <%= render partial: 'favorites/favorite', locals: { photo: @photo } %>
      </p>
      <!--投稿ユーザと閲覧ユーザが一致で表示-->
      <% if @photo.user == current_user %>
      <%= link_to 'Edit', edit_photo_path(@photo), class: "btn-sm btn-success edit_photo_#{@photo.id}" %>
      <%= link_to 'Destroy', @photo, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-sm btn-danger destroy_photo_#{@photo.id}"%>
      <% end %>
    </div>
  </div>
</div>
